.offers {
  padding: 50px 6.5%;
  position: relative;

  &--title {
    margin-bottom: 30px;
    font-family: latoExtraBold;
    font-size: 18px;
    line-height: 21.6px;
    color: var(--white-color);
  }

  &--container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .offers {
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }
}

@media only screen and (min-width: 1248px) {
  .offers {
    &--container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;

      article:nth-child(1) {
        background-image: url("../../asset/images/offers/first-offer1.png") !important;
      }
      article:nth-child(4) {
        background-image: url("../../asset/images/offers/bottom-offer1.png") !important;
      }

      article:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: 3;

        h2 {
          font-size: 74px;
          line-height: 74px;
          max-width: 665px;
          padding-top: 0;
        }
        p {
          font-size: 26px;
          line-height: 31.4px;
        }
      }

      article:nth-child(4) {
        grid-column-start: 1;
        grid-column-end: 3;

        h2 {
          font-size: 74px;
          line-height: 74px;
          max-width: 665px;
          padding-top: 0;
        }
        p {
          font-size: 26px;
          line-height: 31.4px;
        }
      }
    }
  }
}
